@font-face {
    font-family: Lato;
    src: url(./Assets/Fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./Assets/Fonts/Roboto/Roboto-Bold.ttf);
}

* {
    font-family: Roboto;
    box-sizing: border-box;
}

:root {
    --primary-gradient: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-red: #ff0000;
    --primary-gray: rgba(200, 200, 200, 0.5);
    --secondary-gray: #bcbcbc;
}

body {
    background-image: url("./Assets/Images/Background_Image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#pageBody {
    font-family: Lato;
    background-color: var(--primary-white);
    width: 54%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 1.8rem;
}

#headerBackground {
    background-image: url("./Assets/Images/Background_Header.webp");
    border: 5px solid var(--primary-red);
    height: 128px;
    width: 100%;
}

.pageSection {
    border: 5px solid var(--primary-red);
    border-top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardStyle {
    background-color: var(--secondary-gray);
    padding: 0px 25px;
    width: 100%;
}

.pageButtons {
    font-family: Lato;
    font-size: 2rem;
    background: var(--primary-black);
    color: var(--primary-white);
    border-radius: 25px;
    border: none;
    margin: 15px 0 5px 25%;
    width: 50%;
    height: 50px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.pageButtons:before {
    content: '';
    background: var(--primary-gradient);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.pageButtons:active {
    color: var(--primary-black);
}

.pageButtons:active:after {
    background: transparent;
}

.pageButtons:hover:before {
    opacity: 1;
}

.pageButtons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-black);
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.anchoredBackgroundImage,
.anchoredBackgroundImageCurtain {
    height: 12rem;
    border-radius: 25px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.anchoredBackgroundImageCurtain {
    background-color: var(--primary-gray);
    border: 4px solid var(--primary-black);
}

#cvBackgroundImage,
#calculatorBackgroundImage,
#hangmanBackgroundImage,
#rockPaperScissorsBackgroundImage,
#swapiAPIWebpageBackgroundImage,
#weatherAppBackgroundImage {
    background-image: url("./Assets/Images/CV.png");
    background-size: 100% auto;
    background-repeat: repeat;
}

#calculatorBackgroundImage {
    background-image: url("./Assets/Images/Calculator.png");
}

#hangmanBackgroundImage {
    background-image: url("./Assets/Images/Hangman.png");
}

#rockPaperScissorsBackgroundImage {
    background-image: url("./Assets/Images/RockPaperScissors.png");
}

#swapiAPIWebpageBackgroundImage {
    background-image: url("./Assets/Images/SwapiAPIWebpage.png");
}

#weatherAppBackgroundImage {
    background-image: url("./Assets/Images/WeatherApp.png");
}

@media only screen and (max-width: 998px) {
    body {
        display: block;
        background-repeat: repeat;
    }

    #pageBody {
        width: 100%;
    }

    #cvBackgroundImage,
    #calculatorBackgroundImage,
    #hangmanBackgroundImage,
    #rockPaperScissorsBackgroundImage,
    #swapiAPIWebpageBackgroundImage,
    #weatherAppBackgroundImage {
        display: block;
    }

    .pageButtons {
        width: 100%;
        font-size: 1.3rem;
        margin: 0;
        margin-top: 10px;
    }
}