* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
    --background-color: rgba(65, 0, 0, 0.3);
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-red: #ff0000;
    --secondary-red: #b31e1e;
    --primary-gray: #444444;
    --secondary-gray: #979797;
    --footer: rgb(0, 255, 255);
}

body {
    background-color: var(--background-color);
    margin: 0;
}

/* Navbar Start */
.nav-header {
    background-color: var(--primary-black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
}

.navbar {
    width: 75vw;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    width: 8rem;
}

.nav-logo img:nth-child(2) {
    width: 2.2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in 300ms;
}

.show-nav-links {
    max-height: 10rem;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-white);
    padding: 0.5rem 0;
    display: block;
    transition: all ease-in 100ms;
}

.nav-links a:hover {
    color: var(--primary-red);
    transform: scale(1.1);
}

.nav-links div {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .nav-logo img:nth-child(2) {
        display: none;
    }

    .nav-links {
        max-height: 10rem;
        flex-grow: 1;
        flex-direction: row;
        margin-left: 2rem;
    }

    .nav-links a {
        padding: 0.5rem;
    }

    .nav-links div {
        flex-grow: 1;
        text-align: right;
    }

    .nav-links div a {
        display: inline-block;
        color: var(--primary-black);
        background-color: var(--primary-red);
        border-radius: 1rem;
        padding: 0.5rem;
    }

    .nav-links div a:hover {
        color: var(--primary-white);
        transform: none;
    }

    .navbar {
        display: flex;
        align-items: center;
    }
}

/* Navbar End */

/* Main Start */
/* Main Home Start */
main {
    min-height: calc(100vh - 4rem - 3rem);
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
}

.slide-in {
    min-height: 35vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all ease-in-out 1000ms;
}

.slide-in-show {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

.slide-in h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    line-height: 1rem;
    text-transform: uppercase;
}

.slide-in p {
    color: var(--primary-gray);
    font-size: 1.1rem;
    margin: 0;
}

/* Main Home End */

/* Main Recipes Start */
.recipes-header {
    background-image: url('../img/main.jpeg');
    min-height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 1rem;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--secondary-red);
}

.hero-content h1 {
    font-size: 1.5rem;
    margin: 0;
}

.hero-content h3 {
    font-size: 0.8rem;
    margin: 0.2rem;
    color: var(--primary-white);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, aqua, blue);
    opacity: 0.4;
}

.recipes {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.recipe {
    padding: 1rem 0;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary-gray);
    display: block;
}

.recipe img {
    width: 100%;
    max-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.recipe h4 {
    line-height: 1;
    margin: 0.5rem 0;
    color: var(--primary-black);
    font-weight: 200;
    font-size: 1.2rem;
}

.recipe p {
    line-height: 1;
    margin: 0;
    margin-bottom: 0.4rem;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 0.8rem;
}

.tags h3 {
    line-height: 1;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
}

.tag-box button {
    background-color: var(--secondary-gray);
    transition: all ease-in 100ms;
    margin: 0.4rem;
    font-size: 0.9rem;
    border-radius: 25px;
    border: none;
}

.tag-box button:hover {
    color: var(--primary-red);
    cursor: pointer;
}

.animate-image {
    animation: my-animation 5s;
}

@keyframes my-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {
    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content h3 {
        font-size: 1.5rem;
    }

    .recipes {
        flex-direction: row;
    }

    .col-two {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .recipe {
        padding: 0 1rem;
        flex-basis: 33.3%;
        margin: 1rem 0;
    }

    .recipe img {
        min-height: 12rem;
    }

    .tag-box {
        flex-direction: column;
        width: 6rem;
    }

    .tag-box button {
        margin: 0.4rem 0;
    }

}

/* Main Recipes End */

/* Main Contact Start */
.location-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-box iframe {
    max-width: 100%;
    max-height: 70vh;
}

form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-gray);
}

.form-control {
    padding: 1rem;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control input,
textarea {
    width: 100%;
    padding: 0.2rem;
    border: none;
    border-bottom: 1px solid var(--primary-gray);
    outline: none;
}

.box-send {
    text-align: center;
}

.btn-send {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    background-color: var(--primary-red);
    color: var(--primary-black);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in 100ms;
}

.btn-send:hover {
    opacity: 0.9;
    transform: scale(1.1);
    color: var(--primary-white);
}

@media screen and (min-width: 992px) {
    .contact {
        display: flex;
        gap: 1rem
    }

    .contact form {
        flex-grow: 1;
        height: 50%;
    }
}

/* Main Contact End */
/* Main End */

/* Footer Start */
footer {
    background-color: var(--primary-black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: var(--primary-white);
}

footer p {
    width: 90vw;
}

footer p a {
    text-decoration: none;
    color: var(--footer);
}

/* Footer End */