* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-white: #ffffff;
    --primary-black: #000000;
    --primary-silver: rgb(192, 192, 192);
    --primary-red: rgb(255, 0, 0);
    --secondary-red: rgb(150, 0, 0);
    --card-background: rgba(178, 110, 25, 0.555);
    --link-color: rgb(125, 0, 255);
}

body {
    background-image: url(./img/store-background.webp);
    background-attachment: fixed;
}

h1,
h2 {
    padding: 0.5rem 0;
}

h2 {
    text-align: center;
}

.card {
    background-color: var(--card-background);
    border: 4px solid var(--primary-black);
    border-radius: 30px;
    margin: 1rem;
}

p {
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
}

p a {
    font-weight: 700;
    text-decoration: none;
}

p a:visited {
    color: var(--link-color);
}

img {
    border: 3px solid var(--primary-silver);
    box-shadow: 2px 2px 10px 1px var(--primary-white);
    height: 150px;
    width: auto;
}

.image,
.title {
    text-align: center;
    padding-top: 7px;
}

.title {
    color: var(--primary-white);
    text-transform: uppercase;
    font-weight: 700;
}

.desc {
    text-align: center;
    margin: 0 4.5rem;
}

.productsContainer {
    background-color: var(--primary-silver);
    border-top: 2px solid var(--primary-black);
    border-bottom: 2px solid var(--primary-black);
    text-align: center;
}

button {
    color: var(--primary-black);
    background-color: var(--primary-red);
    border: none;
    border-left: 2px solid var(--primary-black);
    border-right: 2px solid var(--primary-black);
    transition: all ease-in 200ms;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 7px;
    width: 19.5vw;
}

button:hover {
    color: var(--primary-white);
    cursor: pointer;
}

.btn-container {
    padding: 0.5rem 0;
    text-align: center;
}

.buyBtn,
.removeBtn {
    color: var(--secondary-red);
    background-color: var(--primary-silver);
    border: 2px solid var(--primary-black);
    border-radius: 15px;
    width: auto;
}

#logout-button {
    color: var(--primary-white);
    background-color: var(--primary-black);
    border-radius: 15px;
    position: absolute;
    top: 6px;
    right: 0.8vw;
    width: 6.5%;
}

#logout-button:hover {
    color: var(--primary-red);
}

form {
    width: 25rem;
    margin: 0 auto;
    padding: 1.25rem;
    border: none;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: var(--primary-white);
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

input[type="submit"] {
    background-color: var(--secondary-red);
    color: var(--primary-white);
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--primary-red);
    cursor: pointer;
}

.centerInput {
    text-align: center;
}

#registerForm,
.mainPage {
    display: none;
}

.headerDiv {
    text-align: center;
    background-color: var(--primary-silver);
    color: var(--secondary-red);
}

.cartImg {
    border: 1px solid var(--primary-black);
    border-radius: 3px;
    transition: all ease-in 200ms;
    box-shadow: none;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 8px;
    right: 7.5vw;

}

.cartImg:hover {
    background-color: var(--primary-red);
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.bounce-in {
    animation: bounceIn 750ms;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 992px) {
    #logout-button {
        font-size: 1.2rem;
        top: 8px;
        right: 2vw;
        width: 20%;
    }

    .cartImg {
        right: 23.5vw;
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
    }

    button {
        border: none;
        border-top: 2px solid var(--primary-black);
        border-bottom: 2px solid var(--primary-black);
        width: 100%;
    }

    form {
        width: 20rem;
    }

    h1 {
        text-align: left;
        padding-left: 10px;
    }
}