* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-red: #ea1a0ba2;
    --secondary-red: rgb(170, 0, 0);
    --dark-red: #760000;
    --primary-yellow: rgb(255, 255, 0);
}

body {
    background-color: var(--primary-black);
}

h1 {
    text-align: center;
    font-size: 4.2rem;
    margin: 0 0 10px 0;
    color: var(--primary-red);
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

input,
button {
    color: var(--primary-yellow);
    border-radius: 15px;
    background-color: var(--secondary-red);
}

input.box,
button.box {
    border: 2px solid var(--primary-yellow);
    font-size: 2rem;
    margin: 0.4rem;
}

input:hover,
button:hover {
    color: var(--primary-black);
}

input:active,
button:active {
    background-color: var(--dark-red);
}

.item-stats {
    color: var(--secondary-red);
    overflow-wrap: break-word;
    padding-left: 1.5rem;
    font-weight: 700;
}

.item-stats h2 {
    color: var(--primary-yellow);
    border: 4px solid var(--dark-red);
    border-radius: 15px;
    display: inline-block;
    padding: 0.5rem;
}

#inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    button {
        width: 30%;
    }

    .buttons-container {
        flex-direction: column;
    }

    .box {
        width: 90%;
    }
}